.nonProfitContainer {
margin: 50px 0
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px
}

.logo {
    width: 15%;
    height: auto
}

div#nonProfitNav>ul.navbar-nav {
    margin: 0 auto;
}

.nonProfitNav li.nav-item a {
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: orangered;
}

.nonProfitNav li.nav-item a:hover {
    background-color: orangered;
    color: white
}

.aboutDiv {
    height: 500px;
    background-color: orange;
    margin: 20px 0
}

.sitemapDiv {
    height: 500px;
    background-color: teal;
    margin: 20px 0
}

.styleGuideDiv {
    height: 500px;
    background-color: purple;
    margin: 20px 0
}

.resumeBtnContainer {
    display: flex;
    justify-content: center;
}

/* end note section */
.endNoteSection {
    text-align: center;
}

.endNoteSection p:first-of-type {
    text-decoration: underline;
    color: orangered;
}

.endNoteSection p span {
    color: orangered;
    font-weight: bold;
}

.endNoteSection .resumeBtn {
    border: 1px solid orangered;
    color: orangered;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.endNoteSection .resumeBtn:hover {
    background-color: orangered;
    border: 1px solid transparent;
    color: white
}

/* === custom tool tip ==== */
.customToolTip {
    margin: 40px auto;
}

.customToolTip a.btn span i.fas.fa-chevron-circle-up {
    color: orange;
    font-size: 25px;
}

.customToolTip a.btn span i.fas.fa-chevron-circle-up:hover {
    color: #34af95
}

.tooltip-inner {
    background-color: #34af95 !important;
}

.bs-tooltip-right .arrow::before {
    border-right-color: #34af95 !important;
}




/* === Media Queries ==== */
@media only screen and (max-width: 768px) {
    .logo {
        width: 50%;
        height: auto
    }

    .nonProfitNav {
        margin: 0 auto;
        justify-content: center !important;

    }

    .nonProfitNav li.nav-item {
        text-align: center;
    }
}